.btn-signup {
    background-color: #FF6161;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 28.5px 14px 28.5px;
    border-radius: 50px;
}